body {
    background-image: url("../images/background.jpg");
}
.main-body{
    /* background-color: purple; */
    height: 400px;
    margin: 20px auto;
    padding: 10px;
    float: none;
    text-align: center;
    
}

.header {
    background-color: #c7bf57;
    color: #990dac;
    font-size: 3em;
    height: 80px;
    text-align: center;
    clear: both;
}

.footer{
    background-color: #c7bf57;
    color: #990dac;
    padding: 18px;
    text-align: center;
    height: 50px;
    bottom: 0;
}

.start {
    position: relative;
    margin: auto;
    top: 50%;    
    width: 120px;
    height: 100px;
    font-size: 2em;
}

.question-area {
    background: #c7be57ee;
    text-align: center;
    font-size: 2em;
    width: 85%;
    margin: auto
}

#timer {
    background-color: #fab804b7;
    margin: 5px;
    width: 22%;
    margin: auto;
}
.choice{
    width: 60%;
    background-color: #0d1ad1a9;
    border-radius: 5px;
    color: #fff;
    float: none;
    margin: 10px 0;
}

.choice:hover{
    transform: scale(1.1);
}

.wrong {
    background-color: #dd2200;
}

.right {
    background-color: #00bb00;
}

.well-actually {
    width: 200px;
    height: 200px;
    background-color: #69696b;
    color: #fff;
    position: absolute;
    top: 40%;
    right: 20%;
}

.score-area {
    text-align: center;
    background-color: #c7bf57;
    font-size: 2em;
    color: #990dac;
    width: 30%;
    margin: auto;
}