.main-body{
    background-color: purple;
    height: 400px;
    margin: 20px auto;
    padding: 10px;
    float: none;
    text-align: center;
}
.footer{
    background-color: purple;
    height: 100px;
    bottom: 0;
}

.start {
    position: relative;
    margin: auto;
    top: 50%;    
    width: 120px;
    height: 100px;
    font-size: 2em;
}

.question-area {
    background: #fff;
    text-align: center;
    font-size: 2em;
    width: 85%;
    margin: auto
}

.choice{
    width: 80%;
    background-color: green;
    color: #fff;
    float: none;
    margin: 10px 0;
}

.choice:hover{
    transform: scale(1.1);
}

.wrong {
    background-color: #dd2200;
}

.right {
    background-color: #00bb00;
}

.score-area {
    text-align: center;
    background-color: #c7bf57;
    color: #ba0bce;
    width: 80%;
    margin: auto;
}