body {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}
.main-body{
    /* background-color: purple; */
    height: 400px;
    margin: 20px auto;
    padding: 10px;
    float: none;
    text-align: center;
    
}

.header {
    /* background: radial-gradient(#432947 5%, #474752 35%, #cacacfdc 60%); */
    
    color: #252930;
    border-radius: 5px;
    font-size: 3em;
    height: 80px;
    width: 68%;
    margin: auto;
    text-align: center;
    clear: both;
}

.footer{
    background-color: #1a191363;
    color: #d7c6da;
    padding: 18px;
    text-align: center;
    height: 50px;
    bottom: 0;
}

.start {
    position: relative;
    margin: auto;
    border-radius: 5px;
    background-color: #cbce22d5;
    color: #000;
    top: 50%;    
    width: 120px;
    height: 100px;
    font-size: 2em;
}

.question-area {
    /* background: #3743ec8a; */
    color: #000;
    border-radius: 5px;
    text-align: center;
    font-size: 2em;
    width: 85%;
    margin: auto
}

#timer {
    /* background-color: #fab804b7; */
    margin: 5px;
    width: 22%;
    margin: auto;
}
.choice{
    width: 60%;
    background-color: #0d1ad1a9;
    border-radius: 5px;
    color: #fff;
    float: none;
    margin: 10px 0;
}

.choice:hover{
    transform: scale(1.1);
}

.wrong {
    background-color: #dd2200;
}

.right {
    background-color: #00bb00;
}

.well-actually {
    width: 200px;
    height: 200px;
    /* background-color: #69696b; */
    color: #000;
    position: absolute;
    top: 50%;
    right: 10%;
}

.score-area {
    text-align: center;
    /* background-color: #c7bf57; */
    font-size: 2em;
    color: #000;
    width: 30%;
    margin: auto;
}